body{
  
  
  color: aliceblue;
  background-color: black;
  background-size: cover;
  font-family: 'Itim', cursive;    
  min-height: 100% !important;   
  overflow-y: hidden;
}

h1{
  color: bisque;
  font-family: 'Bree Serif', serif;
  font-size: 25px;
  text-shadow: 2px 1px 2px #ffefef;
  
}

#fp{
  color: darkred;
}

a:link {
  color: green;
}


a:visited {
  color: green;
}


a:hover {
  color: red;
}


a:active {
  color: yellow;
}


#c1{
margin-top: 17rem!important;
}

#c2{
margin-top: 12rem!important;
margin-left: -8rem ;
color: black;
background-color: white;
}



#abc{
  display: flex;
  background-color: solid black;

}


html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  /* height: 100vh;
  height: -webkit-fill-available; */
  min-height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  
}

#login{
  color: dimgray;
}

.form-select{
        background-color: #ffefef;
        border-radius: 20px;
        
        color: dimgray;
}

.form-control{
        background-color: #ffefef;
        border-radius: 20px;
        
        color: dimgray;

}

#inputGroupPrepend3{
  background-color: #ffefef;
  border-top-left-radius: 20px ;
  border-bottom-left-radius: 20px ;
}




/* button css */

#sign {
  background-color: lightcoral !important;
  color: white !important;
  border: white solid 0px !important;
  border-radius: 18px !important;
 
  
}

#sign:hover {
  background-color: rgb(255, 170, 170)!important;
  border: white solid 0px !important;
  color: black!important;
  
}

.btn-light{
  background-color: lightcoral !important;
  color: white !important;
  border: white solid 0px !important;
  border-radius: 18px !important;
  margin-top: 1rem !important;
  margin-left: 4rem !important;
}

.btn-light:hover{
  background-color: rgb(255, 170, 170)!important;
  border: white solid 0px !important;
  color: black!important;
}

/* animated video */
.vid{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
  
}

.mt-5{
  margin-right: 18rem!important;
}

.h6, h6 {
  font-size: 1rem!important;
  padding-left: 4rem!important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5.6rem;
}